/* All Downloaded Font Styles and other URLs are here */
/* ============ Font-Styles Available ==============
    font-family: 'Galdeano', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

/* ===================== Setting Up the Page ========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 50%;
}

/* ######################### HEADER / HOME SECTION ################################# */
.header{
    height: 98vh;
}

/* ======================= Navigation Bar ============================ */
.navbar{
    /* background-color: rgba(0, 0, 0, 0.292); */
    position: fixed;
    background-color: #34323255;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 6em;
    z-index: 2;
    transition: all .15s linear;
}
.navbar-scrolled{
    background-color: #343232;
}
.nav-list{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 1rem;
    transition: all .2s ease-out;
    margin: .2em .1em .1em .1em;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover{
    border-bottom: 2px solid white;
}

/* ====================== Profile: Cover Photo and DP ================= */
.profile{
    position: relative;
}

.profile .cover-pic{
    position: relative;
    height: 55vh;
}
.profile .cover-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .8;
}

.profile .profile-pic{
    border-radius: 50rem;
    width: max-content;
    position: absolute;
    bottom: -12.5rem;
    left: 5vw;
    z-index: 4;
}

.profile .profile-pic img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: .5rem solid rgb(47, 46, 46);
}

/* ======================== ABOUT SECTION =========================== */
.about{
    height: 42vh;
    display: flex;
    align-items:center;
}
.about-title{
    height: 100%;
    width: 35rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

.about-info{
    padding: 2rem;
    flex: 2;
}

.hobbies{
    flex: 1;
    text-align: center;
}
.hobbies-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hobby{
    border: 4px solid #5daaee;
    font-size: 1.7rem;
    border-radius: 5rem;
    width: 45%;
    display: inline-block;
    text-align: center;
    padding: .2em;
    margin: .5em .2em;
}

/* ##################### SKILLS SECTION ################################# */
.skills{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills::after{
    content: "";
    clear: both;
}
.skills-box{
    flex:1;
    height: 90%;
    margin: 2rem;
    box-shadow: 0rem 0 1rem rgb(81, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills-box h1{
    text-align: center;
}
.skill{
    height: 15%;
    margin: .5rem 1rem;
    display: flex;
    justify-content: center;
}
.skill-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.skill-icon img{
    max-height: 60%;
    max-width: 100%;
}
.skill-name{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
}
.skill-rating{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
}
.skill-name h2{
    text-align: center;
}
.projects{
    flex: 3;
    height: 90%;
    margin: 2rem;
    box-shadow: 0rem 0 1rem rgb(81, 80, 80);
}

/* ===================== SKILLS BOX ===================================== */



/* ###################### UTILITY CLASSES ################################ */

/* ============ Container Class ================== */
.container{
    width: 80%;
    margin: auto;
}

/* ============ Font-size classes =============== */
.font-small{
    font-size: 2.5rem;
}
.font-med{
    font-size: 3rem;
}
.font-large{
    font-size: 5rem;
}

/* ============ Font-Color Classes ============== */
.color-gray{
    color: #3d3c3c;
}
.color-light-blue{
    color: #5daaee;
}
.color-purple{
    color: #e60ce6;
}
.color-green{
    color: #3ed83e;
}
.color-red{
    color: #e63946;
}
.color-white{
    color: #fff;
}
.color-yellow{
    color: yellow;
}
.color-black{
    color: black;
}
/* ============ Font-Weight Classes ============= */
.bold{
    font-weight: 600;
}

/* ============ Font-family Classes ============= */
.Galdeano{
    font-family: 'Galdeano', sans-serif;
}

/* ============ Background Color classes ======== */
.bg-gray{
    background-color: rgba(0, 0, 0, 0.605);
}
.bg-light-gray{
    background-color: #ddd;
}
.bg-white{
    background-color: white;
}
.bg-dark{
    background-color: #3d3c3c;   
}
.bg-black{
    background-color: rgb(7, 9, 37);
}

/* ============= Miscellaneous Classes ====== */
.unselectable{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.capitalize{
    text-transform: capitalize;
}

.fa-3x{
    width: 3rem;
    margin: 0 .5em;
}
.fa-2x{
    margin: 0 .2em;
}